<%= form_for(@article, html: { multipart: true }) do |t| %>
<ul>
  <%= @article.errors.full_messages.each do |error| %>
  <li>
    <%= error %>
  </li>
  <% end %>
</ul>
  <p>
    <%= t.label :title %>
    <%= t.text_field :title %>
  </p>

  <p>
    <%= t.label :body %>
    <%= t.text_area :body %>
  </p>
  <p>
    <%= t.label :tag_list %>
    <%= t.text_field :tag_list %>
  </p>
  <p>
    <% if @article.image.exists? %>
    <%= image_tag @article.image.url %></br>
    <% end %>
    <%= t.label :image, "Attach an Image" %>
    <%= t.file_field :image %>
  </p>

  <p>
    <%= t.submit %>
  </p>
<% end %>
