<%= link_to "Back to Article List", articles_path %>

<h1><%= @article.title %></h1>
<p><%= @article.title %></p>


<%= link_to "Edit", edit_article_path %>
<%= link_to "Delete", @article, method: :delete %>
