
<h1><%= @article.title %></h1>
<h4><%= @article.body %></h4>

<div class="">
  <%= link_to "Edit", edit_article_path(@article) %>
</div>
<div class="">
  <%= link_to "Delete", article_path(@article), method: :delete, data: { confirm:
                                                "Really delete the article?" } %>

</div>
<div class="">
  <%= link_to "Back to Article List", articles_path %>
</div>
